@font-face {
  font-family: "iconfont"; /* Project id 5079149 */
  src: url('iconfont.woff2?t=1764852000922') format('woff2'),
       url('iconfont.woff?t=1764852000922') format('woff'),
       url('iconfont.ttf?t=1764852000922') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e65e";
}

.icon-stop:before {
  content: "\e810";
}

.icon-list:before {
  content: "\e6c6";
}

.icon-draft:before {
  content: "\e8c7";
}

.icon-article:before {
  content: "\e650";
}

.icon-security:before {
  content: "\e7db";
}

.icon-upload:before {
  content: "\e7da";
}

.icon-edit:before {
  content: "\e61e";
}

.icon-basic:before {
  content: "\e613";
}

.icon-category:before {
  content: "\e6a2";
}

.icon-picture:before {
  content: "\e653";
}

.icon-setting:before {
  content: "\e66f";
}

.icon-tag:before {
  content: "\e826";
}

.icon-user:before {
  content: "\e627";
}

.icon-home:before {
  content: "\e6f1";
}

.icon-album:before {
  content: "\e6cd";
}

.icon-folder:before {
  content: "\eb33";
}

.icon-comment:before {
  content: "\e670";
}

.icon-email:before {
  content: "\e856";
}

.icon-trush:before {
  content: "\e66a";
}

.icon-bell:before {
  content: "\e6e6";
}

.icon-pen:before {
  content: "\e600";
}

.icon-plus:before {
  content: "\e60b";
}

.icon-check:before {
  content: "\e98c";
}

.icon-close:before {
  content: "\e98e";
}

.icon-moon:before {
  content: "\e9c1";
}

.icon-sunny:before {
  content: "\e9c2";
}

.icon-Language:before {
  content: "\e9c6";
}

