
:root {
  --el-menu-hover-bg-color: var(--primary-transparent) !important;
  --el-menu-active-color: var(--primary-base) !important;
  --el-menu-text-color: var(--text-subtle) !important;
  --el-color-primary: var(--primary-base) !important;
  --el-color-primary-light-3: var(--primary-strong) !important;
  --el-color-primary-light-9: var(--primary-transparent) !important;
  --el-color-primary-light-7: var(--primary-weak) !important;
  --el-color-primary-light-8: var(--primary-transparent) !important;
  --el-color-primary-dark-2: var(--primary-base) !important;
}