
:root {
  --el-menu-hover-bg-color: var(--primary-transparent) !important;
  --el-menu-active-color: var(--primary-base) !important;
  --el-menu-text-color: var(--text-subtle) !important;
  --el-color-primary: var(--primary-base) !important;
}